

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <h2 class="navbar-brand" >Episodies Rick And Morty</h2>


      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Seasons </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Season 1
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Episodie 1/1</a></li>
                <li><a class="dropdown-item" href="#">Episodie 2/1</a></li>
                <li>
                 
              </ul>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Season 2
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Episodie 1/2</a></li>
                  <li><a class="dropdown-item" href="#">Episodie 2/2</a></li>
                  <li>
                   
                </ul>
              </li>
  




              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Season 3
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Episodie 1/3</a></li>
                  <li><a class="dropdown-item" href="#">Episodie 2/3</a></li>
                  <li>
                   
                </ul>
              </li>
  



              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Season 4
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Episodie 1/4</a></li>
                  <li><a class="dropdown-item" href="#">Episodie 2/4</a></li>
                  <li>
                   
                </ul>
              </li>








          </ul>


  




<!--
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
 -->



        </div>
      </div>
    </div>



 
  </nav>

  <body>
             <div  class="glass-content">
            </div>  

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4 col-sm-6 mb-4">

       
            <div class="card" style="width: 18rem;"     >
                <h2 class="card-title"> Season 1 </h2>
                <img src= "assets/images/personajes1.jpeg" alt="" slot="start"  >
            </div>

          </div>

      
            <div class="col-md-4 col-sm-6 mb-4">

            <div class="card" style="width: 18rem;"     >
                <h2 class="card-title"> Season 2 </h2>
                <img src= "assets/images/personajes2.jpeg" alt="" slot="start"  >
            </div>
        </div>


 
            <div class="col-md-4 col-sm-6 mb-4">

          
       
            <div class="card" style="width: 18rem;"     >

                <h2 class="card-title"> Season 3 </h2>
                <img src= "assets/images/personajes3.png" alt="" slot="start"  >
            </div>

        </div>

          </div>







          <div class="row">

         
                <div class="col-md-4 col-sm-6 mb-4">

               
                
              <div class="card" style="width: 18rem;"     >

                <h2 class="card-title"> Season 4 </h2>
                  <img src= "assets/images/personajes4.jpeg" alt="" slot="start"  >
              </div>
  
            </div>
  
            <div class="col-md-4 col-sm-6 mb-4">

         
              <div class="card" style="width: 18rem;"     >
                <h2 class="card-title"> Seasion 5 </h2>
                  <img src= "assets/images/personajes5.jpeg" alt="" slot="start"  >
              </div>
          </div>
  
  
       
  
         <div class="col-md-4 col-sm-6 mb-4">

        
              <div class="card" style="width: 18rem;"     >
               

                    <h2 class="card-title"> Season 6 </h2>
                      <img src= "assets/images/personajes6.jpeg" alt="" slot="start"  >
                 
                </div>
  
          </div>
  
            </div>
  
  
  
  















    </div>
               

              

  </body>