
<nav class="navbar bg-body-tertiary" data-bs-theme="dark" >
    <div class="container">
        <a class="navbar-brand" href="#">
            
            <button type="button" class="btn btn-outline-secondary" [routerLink]="['/home']" ><-</button>
     
          </a>
          <h3 class="nav-justified">Characters</h3>
    </div>
  </nav>

<body>


<div class="container-fluid"  id="glass-content">
  <div class="row">

    <div class="col-md-4 col-sm-6 mb-4"  *ngFor="let character of users"  >
    
   
      <div class="card" style="width: 18rem;"     >
        <img [src]="character.image" class="card-img-top" alt="" slot="start"  >
        <div class="card-body">
          <h2 class="card-title"> {{character.name}} </h2>
       
          <button class="btn btn-primary" [routerLink]="['/profile', character.id]">Read More</button>

        </div>
        
      </div>
  </div>
</div>
  
</div>

<div class="pagination-controls">
  <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{currentPage}}</span>
  <button class="btn btn-secondary" (click)="nextPage()">Next</button>
</div>

</body>