

 

<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h5 class="text-body-emphasis h4">Rick And Morty App</h5>
 

    <ul >
      <li>
        <a    class="anav"     href="#">
          Episodies
        </a>
      </li  >
      <li >
        <a    class="anav"            [routerLink]="['/users']">
              Characters
        </a>

      </li>
    </ul>

  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img  class="imgnav" src="assets/images/logosombranave.jpeg">
  </div>
</nav>
 


 <body>


    <div class="glass-content">


         <img  class= "imgprincipal"src="assets/images/logoo.png">

       </div>

 

    
   <!---      
        
            <div class="container-fluid">

           
              <span class="border border-info-subtle">

                
                
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="assets/images/personajes2.jpeg" class="img-carrousel" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="assets/images/personajes3.png" class="img-carrousel" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/personajes4.jpeg" class="img-carrousel" alt="...">
                  </div>
                  
                  <div class="carousel-item">
                    <img src="assets/images/personajes5.jpeg" class="img-carrousel" alt="...">
                  </div>
                  
                  <div class="carousel-item">
                    <img src="assets/images/personajes6.jpeg" class="img-carrousel" alt="...">
                  </div>
                  
                  
                  
                  
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                
              </div>
              
            </span>
              
          

            </div>
            
            <div class="container-fluid">
                 <div class="row">
                             <div class="col col-md-6">

                                <img class="img-fluid "  [src]="">
          
                             </div>
                             <div class="col col-md-6">
                               
                             </div>
                 </div>
            </div>


             -->
            
 </body>    

