

 

<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h5 class="text-body-emphasis h4">Rick And Morty App</h5>
 

    <ul >
      <li>
        <a    class="anav"     [routerLink]="['/episodies']"  >
          Episodies
        </a>
      </li  >
      <li >
        <a    class="anav"            [routerLink]="['/users']">
              Characters
        </a>

      </li>
    </ul>

  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img  class="imgnav" src="assets/images/logosombranave.jpeg">
  </div>
</nav>
 


 <body>


    <div class="glass-content">


         <img  class= "imgprincipal"src="assets/images/logoo.png">

       </div>

 

    
            
 </body>    

