
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #c3dbed;" >
    <div class="container-fluid">
      <h2 class="card-title" href="#">Rick And Morty App </h2>
    
      <a class="navbar-brand">
            
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/users']" >Characters</button>
 
      </a>
     
    </div>
  </nav>


          
            <div class="container-fluid">
                <div class="row">
  
                    <div class="">
                      <img  id="imagenhome"class="img-fluid" src="assets/images/rickandmortytitulo.jpg">
                    </div>
                </div> 
            </div>      
             
 


